<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="WebServiceUrl" xdt:Transform="SetAttributes(value)" value="http://prod.kuldataservice.no/api" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>
